doctype html
html(class="no-js", lang="en")
  include ../components/head/head.pug
  head
    +head(head.defaults)
  body.page
    |%=symbols=%
    .wrapper
      .content
          header.page-header.row.row--jc-sb.container
              .header__logo
                  img(src='%=static=%img/content/logo.png').logo
              .header__menu
                  ul.menu.list.row.row--jc-fe
                      li.menu__item
                          a.menu__link(href='#') Home
                      li.menu__item
                          a.menu__link(href='#') Tuinfeest
                      li.menu__item
                          a.menu__link(href='#') Trouwfeest
                      li.menu__item
                          a.menu__link(href='#') Communiefeest
                      li.menu__item
                          a.menu__link(href='#') Verjaardagsfeest
                      li.menu__item
                          a.menu__link(href='#') Doopfeest
                      li.menu__item
                          a.menu__link(href='#') Jubileum
                      li.menu__item
                          a.menu__link(href='#') Contact

                  .hamburger#hamburger
                      span.line
                      span.line
                      span.line

          main.page-content
              section.section__first
                  .container.column.column--jc-c
                      .section__title
                          p Welkom bij
                          p.bold
                              span.accent Make-up
                              span at home
                      .section__lend
                          |Specialist in make-up, bruids make-up
                          br
                          |en inkleding van feesten
                      .section__btn-down
                          a(href='#down')
                            img(src='%=static=%img/content/arrow.png').btn-downh
              section.section__second#down
                  .container.section__wrap-text.column.column--jc-c
                      .section__subtitle
                          |Make-Up at home
                      .section__descr
                          | Met onze creaties willen we de wereld
                          | net dat tikje mooier maken, zodat u een geslaagde indruk achterlaat. We zorgen
                          | voor make-up in de letterlijke zin van het woord, dus professioneel schminken,
                          | al dan niet in combinatie met een exclusieve haarstyling. Daartoe beschikken we over
                          | een mobiele make-up-studio, zodat we op elke gewenste locatie kunnen werken.
                          | Ook bij u aan huis, vandaar “make-up at home”.
                          br
                          | Daarnaast zorgen we ook voor het figuurlijke streepje make-up: we kleden ruimtes en locaties aan, zodat ze een wondermooie uitstraling krijgen. We voorzien decoratie, bloemstukken uit eigen atelier, de nodige attributen, … Niet enkel voor (trouw-) feesten, maar ook om bijvoorbeeld uw horecazaak
                          | op te fleuren of uw bedrijf (zoals de ontvangstbalie) in te kleden.
              section.section__third
                  .container
                      .photos.row.row--jc-sb
                          .photo
                              img(src='%=static=%img/content/photo-1.png')
                              p Feestaankleding
                          .photo
                              img(src='%=static=%img/content/photo-2.png')
                              p Bedrijfsaankleding
                          .photo
                              img(src='%=static=%img/content/photo-3.png')
                              p Bedrijfsfeesten
                          .photo
                              img(src='%=static=%img/content/photo-4.png')
                              p Bloemwerk op maat
                          .photo
                              img(src='%=static=%img/content/photo-5.png')
                              p Bloemen workshops
                          .photo
                              img(src='%=static=%img/content/photo-6.png')
                              p Bloemenwinkel
      footer.page-footer
        .footer-content.container.row.row--jc-sb
            .footer__logo
                img(src='%=static=%img/content/logo-footer.png').logo
            .footer__column.row.row-jc-fs
                .footer__column-name Adress
                .footer__column-address
                    | Fabriekstraat 33,
                    br
                    | B-3950 Kaulille
            .footer__column
                .footer__column-wrap.row.row--jc-sb
                    .footer__column-name Telefoon
                    .footer__column-tel +32(0)495 28 64 36
                .footer__column-wrap.row.row--jc-sb
                    .footer__column-name Email
                    .footer__column-email info@festavista.be
            .footer__column.footer__column-right
                .footer__social f
                .footer__column-name @ 2018 Fastavista

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
