// Common styles of the project

html,
body
  height 100%

.wrapper
  display flex
  flex-direction column
  height 100%

.content
  flex 1 0 auto

.page-footer
  flex 0 0 auto

.container
  width 1170px
  margin 0 auto
  padding 0 20px
  box-sizing: border-box
  @media(max-width 1170px)
      width: 768px
  @media(max-width 768px)
      width: 300px
  @media(max-width 320px)
      width: 300px

img
  width 100%
  height auto
