.section__first
    background: no-repeat 100%/auto url('%=static=%content/bg-first-screen.jpg')
    background-size: cover
    height: 100vh
    display: flex
    position: relative

.section__title
    color: #fffefe
    font-weight 400
    font-family: 'Roboto Slab', sans-serif
    font-size: 42px
    @media(max-width 768px)
        font-size: 28px
    .bold
        font-weight: 700
        font-size: 46px
        @media(max-width 768px)
            font-size: 38px
            line-height: 28px
    span
        font-size: 46px
        padding-right: 10px
        @media(max-width 768px)
            font-size: 38px
            margin-bottom: 20px
            display: block

.accent
    color: #acc705

.section__lend
    font-weight 400
    font-size: 18px
    color: #fffefe
    line-height: 28px
    @media(max-width 768px)
        font-size: 14px
        line-height: 18px

.section__btn-down
    position: absolute
    bottom: 10%
    left: 20%
    height: 35px
    width: 30px
    cursor: pointer
    z-index: 50

.section__second
    height: 600px
    display: flex
    position: relative
    background: transparent

.section__second::before
    content: ''
    display: block
    height: 777px
    width: 100%
    background-image: url('%=static=%content/bg-second-section.png')
    background-position: 0 0
    position: absolute
    left: 0
    bottom: 0
    overflow: visible

.section__descr
    column-count: 2
    column-gap: 40px
    line-height: 24px
    @media(max-width 1170px)
        column-count: 1

.section__wrap-text
    width: 770px
    position: absolute
    top: 50px
    left: 50%
    -webkit-transform: translateX(-50%) translateY(30%)
    -moz-transform: translateX(-50%) translateY(30%)
    -ms-transform: translateX(-50%) translateY(30%)
    -o-transform: translateX(-50%) translateY(30%)
    transform: translateX(-50%) translateY(30%)
    @media(max-width 1170px)
        max-width: 700px
    @media(max-width 768px)
        width: 300px
        -webkit-transform: translateX(-50%) translateY(0%)
        -moz-transform: translateX(-50%) translateY(0%)
        -ms-transform: translateX(-50%) translateY(0%)
        -o-transform: translateX(-50%) translateY(0%)
        transform: translateX(-50%) translateY(0%)

.section__subtitle
    font-weight 700
    font-size: 24px
    color: #0f0f0f
    margin-bottom: 20px
    @media(max-width 768px)
        font-size: 20px
        margin-bottom: 16px

.section__descr
    font-weight 300
    font-size: 16px
    color: #0f0f0f
    @media(max-width 768px)
        font-size: 14px

.section__third
    display: flex
    background-color: #acc705
    position: relative
    @media(max-width 1170px)
        height: auto

.section__second::after
    content: ''
    display: block
    height: 170px
    width: 100%
    background-image: linear-gradient(to right bottom, transparent, transparent 50%, #acc705 50%, #acc705)
    position: absolute
    left: 0
    bottom: 0
    @media(max-width 768px)
        height: 55px

.photos
    display: flex
    flex-wrap: wrap
    align-content: space-between
    margin: 70px 0 90px
    @media(max-width 1170px)
        margin: 20px 0

.photo
    width: 370px
    height: 270px
    position: relative
    margin-bottom: 20px
    @media(max-width 1170px)
        width: 300px
        height: auto
    p
        position: absolute
        top: 70%
        left: 50%
        transform: translateX(-50%)
        font-weight 700
        font-size: 24px
        color: #fffefe
        width: 100%
        text-align: center
        @media(max-width 1170px)
            font-size: 16px
