.page-header
    position: absolute
    top: 50px
    transform: translateX(-50%)
    left: 50%
    z-index: 10
    @media(max-width 768px)
        top: 20px

.header__logo
    width: 30%
    height: 20px
    .logo
        height: 20px
        width: auto
        @media(max-width 768px)
            height: 14px

.header__menu
    width: 70%
    display: flex
    justify-content: flex-end

.menu
    @media(max-width 1170px)
        display: none
    @media(max-width 768px)
        margin-top: 30px

.menu__item
    margin-right: 20px
    margin-bottom: 10px

.menu .menu__link
    text-decoration: none
    color: #fffefe
    font-weight 400
    font-size: 15px

.menu.is-active
    display: block
    flex-direction: column

.hamburger
    display: none
    @media(max-width 1170px)
        display: block

.hamburger .line
    width: 40px
    height: 5px
    background-color: #ecf0f1
    display: block
    margin: 8px auto
    -webkit-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out
    @media(max-width 320px)
        width: 30px

.hamburger:hover
    cursor: pointer

#hamburger.is-active .line:nth-child(2)
    opacity: 0

#hamburger.is-active .line:nth-child(1)
    -webkit-transform: translateY(13px) rotate(45deg)
    -ms-transform: translateY(13px) rotate(45deg)
    -o-transform: translateY(13px) rotate(45deg)
    transform: translateY(13px) rotate(45deg)

#hamburger.is-active .line:nth-child(3)
    -webkit-transform: translateY(-13px) rotate(-45deg)
    -ms-transform: translateY(-13px) rotate(-45deg)
    -o-transform: translateY(-13px) rotate(-45deg)
    transform: translateY(-13px) rotate(-45deg)
