.column
  display flex
  
  column()
  &--reverse
    column-reverse()
  &--jc-fs
    column-jc-fs()
  &--jc-fe
    column-jc-fe()
  &--jc-c
    column-jc-c()
  &--jc-sa
    column-jc-sa()
  &--jc-sb
    column-jc-sb()
  &--ai-c
    column-ai-c()