.text
  reset()
  
  text-decoration none
  &--fw700
    font-weight 700
  &--fw500
    font-weight 500
  &--fw400
    font-weight 400
    
  &--center
    text-align center
  &--right
    text-align right
  
  &--uppercase
    text-transform uppercase
  &--td-none
    text-decoration none